
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.city__card {
    width: 800px;
    height: 600px;
    background-image: url(./images/cadre.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city__card h1 {
    position: relative;
    padding: 32px 0 0 40px;
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.city__card h2 {
    position: relative;
    margin: 0;
    font-weight: normal;
    font-size: 32px;
    color: #ffffff;
}

.city__button h2::after {
    content: url(./images/arrow.svg);
    padding-left: 31px;
    padding-right: 31px;
}

.city__card ul {
    position: relative;
    padding: 0 0 32px 40px;
    margin: 0;
    font-size: 32px;
    list-style-type: none;
    color: #ffffff;
    display: inline-flex;
}

.city__card li:first-child::after {
     content: "\00a0\00a0\2027\00a0\00a0";
}

.city__content {
    position: relative;
    height: 176px;
    width: 640px;
    margin: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.city__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: 
    polygon(
      0% 0%,                    /* top left */
      0% 0%,                    /* top left */
      calc(100% - 25px) 0%,     /* top right */
      100% calc(0% + 25px),     /* top right */
      100% 100%,                /* bottom right */
      100% 100%,                /* bottom right */
      0% 100%,                  /* bottom left */
      0 100%                    /* bottom left */
    );
    background-color: rgba(74, 74, 74, 0.85);
    mix-blend-mode: multiply;
}

.city__content::after {
    content: '';
    position: relative;
    text-align: right;
    padding: 58px;
    content: url(./images/gift-box.svg);
}

.city__button {
    position: relative;
    height: 77px;
    width: 337px;
    margin: 40px 80px;
    padding-left: 32px;
    line-height: 77px;
    align-self: flex-end;
    box-sizing: border-box;
    border: solid 2px #ffffff;
    border-radius: 25px;
    text-decoration: none;
}

.city__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 23px;
    background-color: #4a90e2;
    mix-blend-mode: multiply;
}

