
@import url('https://fonts.googleapis.com/css?family=Lato:regular,bold');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.city__card h1 {
    position: absolute;
    margin: 0;
    top: 32px;
    left: 40px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

.city__card h2 {
    position: absolute;
    margin: 0px;
    top: 18px;
    left: 34px;
    font-weight: normal;
    font-size: 32px;
    color: #ffffff;
}

.city__button h2::after {
    content: url(./images/arrow.svg);
    padding-left: 37px;
}

.city__card ul {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 32px;
    left: 40px;
    list-style-type: none;
    font-size: 32px;
    color: #ffffff;
    display: inline-flex;
}

.city__card li:first-child::after {
    content: "\00a0\00a0\2027\00a0\00a0";
}

.city__card {
    position: relative;
    width: 800px;
    height: 600px;
    background-image: url(./images/cadre.jpg);
    background-size: cover;
}

.city__content {
    position: absolute;
    width: 640px;
    height: 176px;
    top: 40px;
    left: 80px;
    right: 80px;
}

.city__content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: 
    polygon(
      0% 0%,                    /* top left */
      0% 0%,                    /* top left */
      calc(100% - 25px) 0%,     /* top right */
      100% calc(0% + 25px),     /* top right */
      100% 100%,                /* bottom right */
      100% 100%,                /* bottom right */
      0% 100%,                  /* bottom left */
      0 100%                    /* bottom left */
    );
    background-color: rgba(74, 74, 74, 0.85);
    mix-blend-mode: multiply;
}

.city__content::after {
    content: '';
    content: url(./images/gift-box.svg);
    position: absolute;
    right: 0px;
    padding: 58px;
    text-align: right;
}


.city__button {
    position: absolute;
    width: 337px;
    height: 77px;
    right: 80px;
    bottom: 40px;
    border: solid 2px #ffffff;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration: none;
}

.city__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 23px;
    background-color: #4a90e2;
    mix-blend-mode: multiply;
}

